<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>SGCOELecta</span>
    <span class="example-spacer"></span>
    <span class="mat-button" aria-hidden="false" aria-label="Inicio" routerLink="inicio" > Inicio </span>
    <span class="mat-button" aria-hidden="false" aria-label="Electa" routerLink="/inicio/admin"> Electa </span>
    <span class="mat-button" aria-hidden="false" aria-label="contato"> Contato </span>
    <span class="mat-button" aria-hidden="false" aria-label="Example heart icon"> Autenticação documentos </span>
    <button mat-raised-button routerLink="login">
      <mat-icon class="material-icons" aria-hidden="false" aria-label="Example delete icon">person</mat-icon>
      Entrar
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
