<div class="d-flex justify-content-center mt-5">
  <mat-card class="card-body">
    <mat-card-header>
        <mat-card-title>Acesso ao SGCO Electa</mat-card-title>
      <mat-card-subtitle>Faça login para continuar</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="mx-3">
        <form>
          <mat-form-field class="w-100 mb-1">
            <input matInput placeholder="Digite o login" type="text" maxlength="32">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput placeholder="Digite a senha" [type]="isActive ? 'text' : 'password'" maxlength="32">
            <button matSuffix mat-icon-button (click)="showPassword()">
              <mat-icon *ngIf="!isActive">visibility</mat-icon>
              <mat-icon *ngIf="isActive">visibility_off</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
      <div class="mt-3 mx-3 d-flex justify-content-center">
        <button class="w-100" mat-raised-button color="primary">Acessar</button>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="d-flex justify-content-end">
      <button mat-button color="primary" routerLink="/recuperar-senha">Esqueceu sua senha?</button>
    </mat-card-actions>
  </mat-card>
</div>
